body {
	width: 90%;
	margin: 0 auto;
	background-image: url("../meta/table.jpeg");
	min-width: 320px;
}

header {
	opacity: 0.95;
	position: relative;
	border: 1px solid #000000;
	border-bottom: none;
	background-color: #ffffff;
	border-top-right-radius: 10%;
	border-top-left-radius: 10%;
}

h1 {
	display: block;
	font-size: 32px;
	margin-top: 10.72px;
	margin-bottom: 10.72px;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

h2 {
	display: block;
	font-size: 24px;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	background-color: #ffffff;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
}

h3 { 
	display: block;
	font-size: 18.72px;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 0;
	margin-right: 0;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}

figure { 
    display: block;
	margin: 0px;
	margin: 16px 40px;
}

ol {
	list-style-type: decimal;
	margin-left: 20px;
}

img {
	width: 20%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.start {
	width: 18.3%;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
}

#logo {
	margin-top: 0px;
	width: 25%;
}

nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
}

.loginInfo {
	text-align: right;
	/*border: 1px solid black;*/
	font-family: Georgia, serif;
}

p.loginInfo {
	margin-bottom: 0px;
}

.button {
	border-radius: 50%;
	background-color: #ff6600;
}
.button:hover {
	font-size: 17px;
	background-color: #ff9900;
}

.button:focus {
	border: 1px solid #ffff00;
}

#registerButton {
	font-size: 17px;
}

#registerButton:hover {
	font-size: 19px;
}

#active {
	background-color: #FF4500;
	color: white;
	font-size: 20px;
}

.navLink:hover {
	color: black;
	background-color: white;
	text-decoration: none;
	font-size: 24px;
}

.navLink {
	display: block;
	text-align: center;
	font-family: Georgia, serif;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
	color: #ffffff;
}

div {
	margin-left: 0%;
}

a {
	text-decoration: none;
	color: #1f7a7a;
}

a:hover {
	color: #4d4d4d;
	text-decoration: underline;
}

p {
	display: block;
	margin-top: 16px;
	margin-bottom: 16px;
	margin-left: 0;
	margin-right: 0;
	font-size: 16px;
	font-family: Georgia, serif;
}

textarea {
    width: 90%;
    height: 50%;
    padding: 3% 3%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: active;
}

strong { 
	font-weight: bold;
	font-size: 18px;
	font-family: Georgia, serif;
}

:placeholder-shown {
	font-family: Georgia, serif;
	font-weight: bold;
}

footer {
	clear: both;
	text-align: center;
	width: 100%;
	background-color: #cccccc;
	border: 1px solid black;
	border-top: none;
	border-bottom-right-radius: 20%;
	border-bottom-left-radius: 20%;
}
footer p {
	padding-top: 1%;
}